.main-nav a {
    color: #F5F5F5 !important;
    font-weight: 600 !important;
}

.main-nav .active,
.main-nav .active:hover {
    background-color: #176FAE !important;
}


.main-nav a {
    background-color: transparent !important;
}