@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: #1C98ED;
    border-radius: 10px;
    transition: 1s;
}


::-webkit-scrollbar-thumb:hover {
    background: #176FAE;
}